.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.gpt3__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}

.gpt3__navbar-links_logo {
    margin-right: 2rem;
}

.gpt3__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.gpt3__navbar-sign {
    display: grid;
    gap: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p {
    color: var(--white);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75;
    text-transform: capitalize;
    margin: 0 1rem;
}

.btn {
    cursor: pointer;
    color: var(--white);
    background: var(--btn);
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize;
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
  }
  .btn:hover {
    background: var(--primary-700);
    box-shadow: var(--shadow-3);
  }

  .gpt3__navbar-menu {
      margin-left: 1rem;
      display: none;
      position: relative;
  }

  .gpt3__navbar-menu svg {
      cursor: pointer;
  }

  .gpt3__navbar-menu_container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      text-align: end;
      background: var(--color-footer);
      padding: 2rem;
      position: absolute;
      top: 4rem;
      right: 0;
      margin-top: 1rem;
      min-width: 13.125rem;
      border-radius: var(--borderRadius);
      box-shadow: var(--shadow-3);
  }

  .gpt3__navbar-menu_container p {
      margin: 1rem 0;
  }

  .gpt3__navbar-menu_container-links-sign {
      display: none;
  }

  @media screen and (max-width: 1050px) {
      .gpt3__navbar-links_container {
          display: none;
      }
      .gpt3__navbar-menu {
          display: flex;
      }
  }

  @media screen and (max-width: 700px) {
      .gpt3__navbar {
          padding: 2rem 4rem;
      }
  }

  @media screen and (max-width: 550px) {
      .gpt3__navbar {
          padding: 2rem;
      }

      .gpt3__navbar-sign {
          display: none;
      }
      .gpt3__navbar-menu_container {
          top: 3.5rem;
      }
      .gpt3__navbar-menu_container-links-sign {
        /* display: grid; */
        /* gap: 1rem; */
      }
  }