.gpt3__header {
    display: flex;
    flex-direction: row;
}

.gpt3__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.gpt3__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;
    outline: none;
    
    /* display: flex; */
    /* flex-direction: row; */
}

.gpt3__header-content__input input {
    background: var(--primary-800);
    border-radius: 0.5rem 0px 0px 0.5rem;
    font-family: var(--font-family);
    color: var(--grey-200);
    line-height: 2rem;
    padding: 0 1rem;
    outline: none;
    box-shadow: var(--shadow-4);
    border: 2px solid transparent;
}

.gpt3__header-content__input button {
    cursor: pointer;
    line-height: 1.3rem;
    color: var(--white);
    background: var(--btn);
    border: transparent;
    border-radius: 0rem 0.2rem 0.2rem 0rem;
    padding: 0.4rem 0.75rem;
    box-shadow: var(--shadow-4);
    transition: var(--transition);
    text-transform: capitalize;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
    outline: none;
}

button:hover {
    background: var(--primary-700);
    box-shadow: var(--shadow-3);
}

.gpt3__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.gpt3__header-content__people img {
    width: 12.57rem;
    height: 2.375rem;
}

.gpt3__header-content__people p {
    margin-left: 1rem;
    margin: 1rem;
    font-family: var(--font-family);
    text-align: center;
}

.gpt3__header-image {
    flex: 1;
    display: grid;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1050px) {
    .gpt3__header {
        flex-direction: column;
    }
    .gpt3__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .gpt3__header h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .gpt3__header p {
        font-size: 16px;
        line-height: 24px;
    }
    .gpt3__header-content__people {
        flex-direction: column;
    }
    .gpt3__header-content__people p {
        margin: 0;
    }
    .gpt3__header-content__input input,
    .gpt3__header-content__input button {
        line-height: 24px;
        font-size: 16px;
    }
}

@media screen and (max-width: 490px) {
    .gpt3__header h1 {
        font-size: 36px;
        line-height: 48px;
    }
    .gpt3__header p {
        font-size: 14px;
        line-height: 24px;
    }
    .gpt3__header-content__input input,
    .gpt3__header-content__input button {
        line-height: 16px;
        font-size: 12px;
    }
}